*{
  margin: 0;
  padding: 0;
  list-style: none;
}

p:hover{
  cursor: default;
}

.width-100{
  width: 100px !important;
}

.width-300{
  width: 300px !important;
}

.mr10{
  margin-right: 10px !important;
}

.ml10{
  margin-left: 10px !important;
}

.text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}